<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2018 The ThunderDB Authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="io/covenantsql/connector/example/common-config.properties"/>
    <environments default="example">
        <environment id="example">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="io.covenantsql.connector.CovenantDriver"/>
                <property name="url" value="jdbc:covenantsql://${host}:${port}/${database}"/>
                <property name="driver.key_path" value="${key_path}"/>
                <property name="driver.cert_path" value="${cert_path}"/>
                <property name="driver.sslmode" value="${sslmode}"/>
                <property name="driver.ssl" value="${ssl}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="io/covenantsql/connector/example/mybatis/UserMapper.xml"/>
    </mappers>
</configuration>